<ion-content [fullscreen]="true">
  <mat-toolbar class="mim-header-toolbar">
    <a href="https://mimor.com.au" class="mim-main-logo mim-main-logo-orig">
      <img src="assets/img/logoNew.png" class="logo" alt="">
    </a>
    <div class="switch-role">
      <button class="logout-btn" aria-label="logoutbut" (click)="rolesService.logout()">
        <span class="icon"></span><span class="logout">Log Out</span>
      </button>
      <select class="switch-role-select" *ngIf="rolesService.getRoles().length > 1" (change)="rolesService.selectRole($event.target.value)">
        <option *ngFor="let role of rolesService.getRoles()" [value]="role.name">{{role.displayName}}</option>
      </select>
    </div>
  </mat-toolbar>
  <div class="flex-page resident-view">
    <div class="form-wrapper book-area-wrapper" *ngIf="!showRulesModal">
      <div class="move-wrapper d-flex-col full-page" ng-hide="pageLoading">
        <div class="text-center">
          <div class="text-center">{{ buildingName }}</div>
          <h2 class="resident-header" *ngIf='!isLiftBooking'><span>{{this.headerText}}</span> moving <span>{{out ? 'Out' : 'In'}}</span> date / time</h2>
          <h2 class="resident-header" *ngIf='isLiftBooking'>Change Lift Booking date / time</h2>
        </div>
        <form name="form" *ngIf="!loading" class="booking-form move-form d-flex-col">
          <div class="no-date-msg-3" *ngIf="selectedDate.value && hours && hours.length === 0">This date is booked/blocked out, please select
            another date.</div>
          <span class="md-icon-button icon-tooltip"
            aria-label="There is no available time for this date. Please, select another day"
            *ngIf="selectedDate.value && hours && hours.length === 0"
            matTooltip="There is no available time for this date. Please, select another day">
            <mat-icon>error</mat-icon>
          </span>
          <mat-form-field class="book-datepicker">
            <mat-label>Enter date</mat-label>
            <input matInput [formControl]="selectedDate" (ngModelChange)="loadHours()" [min]="minDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <div class="timepicker" *ngIf="!hours || hours.length > 0">
            <mat-form-field class="md-block select2 booking-form--timepicker" *ngIf="!hours || hours.length > 0">
              <mat-select placeholder="Time" [formControl]="selectedHour">
                <mat-option *ngFor="let hour of hours" [value]="hour.id">
                  {{ hour.from + ':' + hour.from_min + ' ' + hour.day_part_from + ' - ' + hour.to + ':' + hour.to_min +
                  ' ' + hour.day_part_to }}
                </mat-option>
              </mat-select>
              <mat-icon matSuffix class="material-icons">&#xE192;</mat-icon>
            </mat-form-field>
          </div>
          <button mat-raised-button (click)="submit()" [disabled]="loading || selectedDate.invalid || selectedHour.invalid" class="book-button full-width">
            <span>{{buttonText}}</span>
            <mat-icon class="material-icons">&#xE876;</mat-icon>
          </button>
          <div *ngIf="!hideAlreadyMoved">
            <h3> OR </h3>
          </div>
          <div>
              <button mat-raised-button (click)="alreadyMovedIn()" *ngIf="!hideAlreadyMoved"
                  ng-disabled="loading||model.date||model.hour" class="md-primary already-button">
                  <mat-icon class="material-icons">&#xE876;</mat-icon>
                  I've already moved {{out ? 'Out of' : 'In'}} the building
              </button>
          </div>
        </form>
        <div class="text-center" *ngIf="loading">
          <h3 сlass="loading-message">{{loadingMessage}}</h3>
          <div class="loading-bar">
            <ion-spinner class="spinner" color="primary"></ion-spinner>
          </div>
        </div>
        <div class="buttons-back autoheight full-width">
          <button mat-raised-button (click)="back()">
            <mat-icon class="material-icons">keyboard_arrow_left</mat-icon> Back
          </button>
        </div>
      </div>
      <div class="loading-bar" *ngIf="pageLoading">
        <ion-spinner class="spinner" color="primary"></ion-spinner>
      </div>
    </div>
    <div *ngIf="!whitelabelMode" class="mim-contact-link-wrap">
      <a class="mim-contact-link" href="mailto:info@mimor.com.au">info@mimor.com.au</a>
    </div>
  </div>
</ion-content>