<ion-content [fullscreen]="true">
  <mat-toolbar class="mim-header-toolbar">
    <a href="https://mimor.com.au" class="mim-main-logo mim-main-logo-orig">
      <img src="assets/img/logoNew.png" class="logo" alt="">
    </a>
    <div class="switch-role">
      <button class="logout-btn" aria-label="logoutbut" (click)="rolesService.logout()">
        <span class="icon"></span><span class="logout">Log Out</span>
      </button>
      <select class="switch-role-select" *ngIf="rolesService.getRoles().length > 1"
        (change)="rolesService.selectRole($event.target.value)">
        <option *ngFor="let role of rolesService.getRoles()" [value]="role.name">{{role.displayName}}</option>
      </select>
    </div>
  </mat-toolbar>
  <div class="flex-page">
    <div class="mim-panel parcel-panel form-wrapper">
      <div class="parcel-table-wrapper bonds-wrapper">
        <h2 class="text-center mim-panel-header">Payments</h2>
        <h3 class="text-center" *ngIf="!loading && bondsArr.length === 0">There Are No Bonds For This Building.</h3>
        <div class="loading-bar" *ngIf="loading">
          <ion-spinner color="primary" class="spinner"></ion-spinner>
        </div>
        <div class="table-responsive bonds-table" *ngIf="!loading || bondsArr.length > 0">
          <table class="table table-bordered table-striped parcel-table">
            <thead>
              <tr>
                <th class="text-center" *ngFor="let header of tableHeaders | keyvalue: returnZero">{{ header.value }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bond of bondsArr">
                <td class="text-center">{{ bond.user.name || 'Unknown'}}</td>
                <td class="text-center">{{ bond.area_name || 'Unknown'}}</td>
                <td class="text-center">{{ bond.date }}</td>
                <td class="text-center">{{ bond.date_from }} - {{ bond.date_to }}</td>
                <td class="text-center">{{ bond.payment_type }}</td>
                <td class="text-center d-flex align-items-center justify-content-center">
                  <button mat-button type="button" class="md-raised md-warn primary-btn"
                    [disabled]="bond.status === 'refund_cancel' || bond.payment_type === 'Payment'" (click)="rejectRefund(bond)">
                    Reject Refund
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center buttons-back parcel-panel--btns">
          <button mat-button class="button-log back-btn btn-back" (click)="back()">
            <mat-icon class="material-icons">keyboard_backspace</mat-icon>
            Back
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>