.mim-re-dashboard{
  font-family: Arial, Helvetica, sans-serif;
  width: 640px;
  height: 620px;
  .manager-wrapper2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .res-dash-button{
    width: 100%;
    color: rgb(33,33,33);
    background-color: rgb(250,250,250);
    text-align: left;
    display: inline-flex;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    align-items: center;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    border-radius: 3px;
    user-select: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    &:not([disabled]) {
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    }
    .mat-icon{
      margin-right: 5px;
    }
  }
  .resident-header{
    margin-top: 0;
    margin-bottom: 20px;
  }
  a{
    width: 100%;
  }
  .ag-dashboard-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .building-block {
      padding: 10px 20px;
      width: 245px;
      .dash-h3{
        font-size: 17px;
        font-weight: 600;
      }
    }
    .tenant-controls{
      padding: 10px 10px;
      border-left: 1px solid #eee;
      min-width: 300px;
      padding-top: 0;
      width: 50%;
    }
  }
  .res-select-container{
    height: 48px;
    line-height: 48px;
    margin-top: 5px;
    margin-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid rgba(63, 81, 181, .3);
    border-left: 1px solid rgba(63, 81, 181, .3);
    border-right: 1px solid rgba(63, 81, 181, .3);
    border-bottom: 1px solid rgba(63, 81, 181, 1);
  }
  
  .res-action-button{
    background-color: rgb(0,97,152)
  }
}
