<ion-content [fullscreen]="true">
  <mat-toolbar class="mim-header-toolbar">
    <a href="https://mimor.com.au" class="mim-main-logo mim-main-logo-orig">
      <img src="assets/img/logoNew.png" class="logo" alt="">
    </a>
    <div class="switch-role">
      <button class="logout-btn" aria-label="logoutbut" (click)="rolesService.logout()">
        <span class="icon"></span><span class="logout">Log Out</span>
      </button>
      <select class="switch-role-select" *ngIf="rolesService.getRoles().length > 1" (change)="rolesService.selectRole($event.target.value)">
        <option *ngFor="let role of rolesService.getRoles()" [value]="role.name">{{role.displayName}}</option>
      </select>
    </div>
  </mat-toolbar>
  <div class="flex-page resident-view">
    <div class="form-wrapper new-book-wrapper">
      <form name="form" class="full-width" ng-submit="submit()">
        <div ng-hide="pageLoading" class="building-page-loader" style="width:100%;" ng-hide="pageLoading">
          <h2 class="header text-center">Select Apartment</h2>
          <div ng-hide="isCustomBuildingSession">
            <mat-form-field class="autocomplete full-width" appearance="standard">
              <input type="text" matInput [formControl]="buildAuto" [matAutocomplete]="auto"
                placeholder="Enter building name or street address">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let build of filteredBuilds | async" (click)="selectBuild(build)" [value]="build">
                  {{build.name + ' - ' + build.address }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button mat-button *ngIf="!showChange" class="building-check-mark button-autocomplete"
              [disabled]="loading || !selectedBuild" (click)="proceed()">
              Proceed to Apartment Selection
              <mat-icon class="material-icons">&#xE86C;</mat-icon>
            </button>
          </div>
          <div *ngIf="selectedBuild && showApartment" class="appartment-in-building-wrapper">
            <div class="appartment-wrapper" *ngIf="!pageLoading">
              <div class="text-center">
                <div class="text-center building-name">{{ building.name }}</div>
              </div>
              <div class="building-wrapper mgb20 text-center">
                <!-- <img src="{{environment.baseUrl}}/img/buildings/{{ building.photo }}" alt=""> -->
              </div>
              <div class="mgb20 full-width d-flex-col radios">
                <mat-form-field class="select-ap" appearance="standard">
                  <mat-label>Select apartment</mat-label>
                  <mat-select [formControl]="apartment">
                    <mat-option *ngFor="let b of apartments" (click)="selectApartment(b)" [value]="b">
                      {{b.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-radio-group required [(ngModel)]="model.user_status" [ngModelOptions]="{standalone: true}"
                  (change)="changeResidingStatus()">
                  <span class="notify-send">Change status: </span>
                  <mat-radio-button value="Resident" class="md-primary">Tenant</mat-radio-button>
                  <mat-radio-button value="Owner" class="md-primary"> Owner </mat-radio-button>
                </mat-radio-group>
                <mat-radio-group required [(ngModel)]="model.is_residing" [ngModelOptions]=" {standalone: true}"
                  *ngIf="!(model.user_status == 'Resident' || model.user_status == 'Unselected')">
                  <mat-radio-button value="1">Residing</mat-radio-button>
                  <mat-radio-button value="0">Non-Residing</mat-radio-button>
                </mat-radio-group>
                <button mat-raised-button (click)="nextButton()" class="next-button button-autocomplete"
                *ngIf="currentApartment === false" [disabled]="loading || !selectedAp">
                <span>{{buttonText}}</span>
                <mat-icon class="material-icons">forward</mat-icon>
              </button>
                <div class="buttons-back mgt20">
                  <div class="buttons-back buttons-wrap" *ngIf="currentApartment !== false">
                    <button mat-raised-button class="button-autocomplete back-button-fix" (click)="back()">
                      <mat-icon class="material-icons">keyboard_arrow_left</mat-icon> Back
                    </button>
                    <button mat-raised-button ng-click="saveApartment()"
                      class="md-primary button-autocomplete"
                      ng-disabled="selectedItem2 === currentApartment.apartment.id || loading">
                      <span>{{buttonText}}</span>
                      <mat-icon class="material-icons">&#xE876;</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="loading-bar" *ngIf="pageLoading">
              <ion-spinner color="primary"></ion-spinner>
            </div>
          </div>
        </div>
        <div class="loading-bar" *ngIf="pageLoading">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div class="buttons-back mgt60 autoheight" ng-hide="loadButtonBack || pageLoading">
          <button mat-raised-button class="md-raised mobile-margin-0" (click)="back()">
            <mat-icon class="material-icons">keyboard_arrow_left</mat-icon> Back
          </button>
        </div>
      </form>
    </div>
    <div *ngIf="!whitelabelMode" class="mim-contact-link-wrap">
      <a class="mim-contact-link" href="mailto:info@mimor.com.au">info@mimor.com.au</a>
    </div>
  </div>
</ion-content>