<ion-content [fullscreen]="true">
  <mat-toolbar class="mim-header-toolbar">
    <a href="https://mimor.com.au" class="mim-main-logo mim-main-logo-orig">
      <img src="assets/img/logoNew.png" class="logo" alt="">
    </a>
    <div class="switch-role">
      <button class="logout-btn" aria-label="logoutbut" (click)="rolesService.logout()">
        <span class="icon"></span><span class="logout">Log Out</span>
      </button>
      <select class="switch-role-select" *ngIf="rolesService.getRoles().length > 1" (change)="rolesService.selectRole($event.target.value)">
        <option *ngFor="let role of rolesService.getRoles()" [value]="role.name">{{role.displayName}}</option>
      </select>
    </div>
  </mat-toolbar>
  <div class="flex-page">
    <div style="height: 650px;"
      class="form-wrapper add-emails-size form-background frame-md time-settings calendar-frame" *ngIf="!showModal">
      <div class="reports-wrapper full-width" ng-hide="pageLoading || showData">
        <div name="form" class="full-page reports-form">
          <div class="mov-cal-wrap">
            <h2 *ngIf="building">{{ building.name }}</h2>
            <div class="book-legend">
              <div class="legend-col">
                <div class="legend-el">
                  <div class="square mvi1"></div>
                  <span>Moving In</span>
                </div>
                <div class="legend-el">
                  <div class="square mvi2"></div>
                  <span>Moved In</span>
                </div>
              </div>
              <div class="legend-col">
                <div class="legend-el">
                  <div class="square mvo1"></div>
                  <span>Moving Out</span>
                </div>
                <div class="legend-el">
                  <div class="square mvo2"></div>
                  <span>Moved Out</span>
                </div>
              </div>
              <div class="legend-col">
                <div class="legend-el last">
                  <div class="square lb"></div>
                  <span>Lift Booking</span>
                </div>
                <div class="legend-el last">
                  <div class="square lbc"></div>
                  <span>Lift Booking Completed</span>
                </div>
              </div>
            </div>
          </div>   
          <h3>Moving calendar</h3>
          <full-calendar id="calendar" class="moving-calendar" [options]="calendarOptions" height="455px"></full-calendar>
        </div>
        <div class="buttons-back">
          <button mat-button class="button-log back-btn btn-back" (click)="back()">
            <mat-icon class="material-icons">keyboard_backspace</mat-icon> Back
          </button>
        </div>
      </div>
      <div class="loading-bar" *ngIf="pageLoading">
        <ion-spinner color="primary" class="spinner"></ion-spinner>
      </div>
      <div class="tooltip" [ngStyle]="tooltipStyle" *ngIf="tooltip" [innerHtml]="tooltip"></div>
    </div>
  </div>
</ion-content>