.email-template-frame{
  max-width: 1100px;
  width: 1100px;
  max-height: 850px;
  .upload-btn{
    border-radius: 0;
    height: 3rem;
    width: 12rem;
    margin-top: 20px;
  }
  .buttons-back{
    width: 25rem;
  }
}
