.guidelines-wrapper {
  min-height: 750px;
  width: 640px;

  .description-scroll {
    position: relative;
    display: block;
    -webkit-overflow-scrolling: touch;
    min-height: 470px;
  }
  .guidline-controls{
    justify-content: flex-end;
  }
  .guidlines-text{
    height: 82%;
    max-height: 470px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 10px;
    padding-right: 16px;
    word-wrap: break-word;
  }
  .pdfFileGuid{
    margin-bottom: 20px;
  }
}

@media (max-width: 767px){
  .guidelines-wrapper{
    min-width: 320px;
    width: 100%;
    height: auto;
  }
}