.address-frame {
  min-width: 300px;
  min-height: 400px;
  .mim-cont-det-switch-wrap {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: none;
    width: 100%;
  }
  .building-block {
    padding: 0px 125px;
    min-width: 780px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
  }
  .mat-checkbox {
    margin-right: 9px;
  }
  .input-title {
    text-align: left;
    font-size: 0.875rem;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .mim-cont-det-switcher {
    margin-bottom: 15px;
  }
  h3 {
    font-size: 0.875rem;
    font-weight: 600;
    text-align: left;
  }
  .mat-input {
    input,
    textarea {
      width: 100%;
    }
    textarea {
      height: 10rem;
    }
  }
  .adress-column {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 1rem;
    width: 300px;
  }
  .building-contact-details-mobile {
    align-items: center;
  }
}

@media screen and (min-width: 876px) {
  .address-column-left {
    padding-right: 1rem;
  }
  .adress-column {
    margin-bottom: 0;
    width: 400px;
  }
  .building-contact-details-mobile {
    align-items: flex-start !important;
  }
}
@media screen and (max-width: 875px) {
  .building-block {
    flex-direction: column;
    min-width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .address-frame{
    width: 100%;
  }
  .width-mobile-100 {
    min-width: auto !important;
    width: 100% !important;
  }
}
